{% extends 'base.html' %}
{% load static %}
{% block head %}
{% endblock %}
{% block body %}
<section class="v-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="https://img.freepik.com/free-vector/waiters-concept-illustration_114360-2908.jpg?w=1060&t=st=1684266496~exp=1684267096~hmac=5f7ce09bf9265ee365e209700bfa6258f97461744c5fa1aec14eab988542d737"
          class="img-fluid" alt="Waiter and waitress">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form method="post">
          {% csrf_token %}
          <span class="h1 fw-bold mb-0">
            Delete Booking
          </span>
          <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">
            Are you sure you want to delete this reservation?
          </h5>
          <p class="text-black">
            <i class="fa-solid fa-location-dot" style="color: #d7dae0;"></i>
            Restaurant Le Chere
          </p>
          <p class="text-black">
            <i class="fa-solid fa-calendar-days" style="color: #e4e7ec;"></i>
            {{ booking.date }} at {{ booking.time }}
          </p>
          <p class="text-black">
            <i class="fa-solid fa-person" style="color: #cdd0d6;"></i>
            {{ booking.no_of_guest.guest }} guest(s)
          </p>
          <p class="text-black">
            {{ booking.occassion }}
          </p>
          <p class="text-black">
            {{ booking.table }}
          </p>
          <p class="text-black">
            {{ booking.special_request }}
          </p>
          <button class="btn btn-danger" type="submit">
            Delete Reservation
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}