{% extends 'base.html' %}
{% load static %}
{% block head %}
{% endblock %}
{% block body %}
<section class="v-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="https://img.freepik.com/free-vector/waiters-concept-illustration_114360-2908.jpg?w=1060&t=st=1684266496~exp=1684267096~hmac=5f7ce09bf9265ee365e209700bfa6258f97461744c5fa1aec14eab988542d737"
          class="img-fluid" alt="Waiter and waitress">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form method="post">
          {% csrf_token %}
          {% if messages %}
          <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
          </ul>
          {% endif %}
          <span class="h1 fw-bold mb-0">Edit Booking</span>
          <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Update your reservation</h5>
          {{ form.as_p }}
          <button class="btn btn-primary" type="submit">Update Reservation</button>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}