{% extends 'base.html' %}
{% load static %}
{% block head %}
{% endblock %}
{% block body %}
<section class="v-100 bg-white">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="https://img.freepik.com/free-photo/glass-strawberry-cocktail-black_181624-45710.jpg?w=740&t=st=1689110154~exp=1689110754~hmac=dd48ecd0cdeb9d64a6790349faa48b80e40a4575ce35b1715a17eca000ad0adc" class="img-fluid" alt="Featured Image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1 text-black">
                <div>
                    <h2>{{ menu.title }}</h2>
                    {% for drink in drinks %}
                        <h5 class="text-wrapper" style="color: gold;">{{ drink.drinkName }}</h5>
                        <p>_______________________________________________________________ {{ drink.price }} $</p>
                        <p class="text-black">({{ drink.drinkDescription }})</p>
                        <br>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
