{% extends 'base.html' %}
{% load static %}
{% block head %}
{% endblock %}
{% block body %}
{% for menu in menus %}
<section class="v-100 bg-black">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="{{ menu.featured_image.url }}"
            class="img-fluid" alt="Featured Image">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1 text-white">
            <div>
              
                <h2 >{{ menu.title }}</h2>
                {% for meal in menu.meal_set.all %}
                <h5 class="text-wrapper" style="color: gold;">{{ meal.mealName }}</h5>
                <p>_______________________________________________________________ {{ meal.price }} $</p>
                <p class="text-white">({{ meal.mealDescription }})</p>
             <br>
                {% endfor %}
            </div>
            
        </div>
      </div>
    </div>
    {% endfor %}
  </section>
 
  <!--
<section class="v-100">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="https://img.freepik.com/free-photo/blue-cocktail-with-orange_144627-18407.jpg?w=740&t=st=1684329171~exp=1684329771~hmac=f1e625feef67decc5876dc72f302988a82e8576f59072a542beb6f2407a6767a"
            class="img-fluid" alt="Sample image">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
            <div>
                <h2>Drinks</h2>
                <p>Orange Juice ________________________________ 2.25 $</p>
                <p>Apple Juice __________________________________ 2.25 $</p>
                <p>Herbal Tea  __________________________________ 2.50 $</p>
                <p>Heineken Beer________________________________ 4.50 $</p>
                <p>Red Wine __________________________________ 39.95 $</p>
                <p>(battle)</p>
                <p>White Wine ________________________________ 39.95 $</p>
                <p>(battle)</p>
                <p>Margarita _________________________________ 12.95 $</p>
                <p>(cocktail)</p>
            </div>
        </div>
      </div>
    </div>
   
  </section>
  <section class="v-100" style="background-color: rgba(11, 11, 11, 0.867);">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="https://images.pexels.com/photos/239581/pexels-photo-239581.jpeg?auto=compress&cs=tinysrgb&w=600"
            class="img-fluid" alt="Sample image">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1 text-white">
            <div>
                <h2>Desserts</h2>
                <p>Croissants_____________________________________ 7.99 $</p>
        

                <p>Crème brûlée____________________________________ 7.95 $</p>
    

                <p>Macarons______________________________________ 8.95 $</p>
            </div>
        </div>
      </div>
    </div>
   
  </section>
  -->
<br><br><br><br><br><br>
{% endblock %}